.red {
  position: relative;
  top: 70px;
  left: 120px;
}
.blue {
  position: relative;
  top: 70px;
  left: 120px;
}
.green {
  position: relative;
  top: 70px;
  left: 370px;
}
.parple {
  position: relative;
  top: 70px;
  left: 120px;
}
